{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}



{% block title %}Flasky {% endblock %}


{% block page_content %}

{{ wtf.quick_form(form) }}





<table border="1" cellpadding="10">

<tr>
<th>物料编号 </th>
<th>物料名称 </th>
<th>物料型号 </th>
<th>库房编号</th>
<th>库房名称 </th>
<th>现存数量 </th>

</tr>
{% if  c %}
   

{% for b in c %}
   

{% for a in b %}
<tr>
<td align="center">{{ a.good.goodid}} </td>
<td align="center"> {{ a.good.goodname}}</td>
<td align="center"> {{ a.good.goodmodel}} </td>
<td align="center">{{ a.storehouse_id}} </td>
<td align="center">{{ a.SH.SHname}} </td>
<td align="center">{{ a.nownumber}} </td>
</tr>
{% endfor %}  
{% endfor %}
{% else %}
 <h1> bucunzai </h1>  {% endif %}
  

        
     {% endblock %}
